/* .highlight {
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
.bold {
  padding-left: 1rem;
  font-weight: 700;
}
.green {
  background-color: lightgreen;
}
.red {
  background-color: lightcoral;
} */

div.css-1r6slb0.e1tzin5v2 {
  background-color: #E6F3FB;
  border: 2px solid #afdcf1;
  padding: 5% 5%;
  border-radius: 5px;
}
